<%- include('./partials/header', { title: 'Home' }) %>

<table class="styled-table">
    <thead>
        <tr>
            <th>Nome <div class="resizer"></div></th>
            <th>Preço <div class="resizer"></div></th>
            <th>Prioridade <div class="resizer"></div></th>
            <th>Finalizado <div class="resizer"></div></th>
            <th>Ações <div class="resizer"></div></th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(product => { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.priority %></td>
                <td><%= product.finished %></td>
                <td>
                    <a href="/product/edit/<%= product.id %>" class="details-link">Detalhes</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>


<%- include('./partials/footer') %>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const resizableTable = document.querySelector('.styled-table');
        const thElements = resizableTable.querySelectorAll('th');

        thElements.forEach(th => {
            const resizer = th.querySelector('.resizer');
            let startX, startWidth;

            resizer.addEventListener('mousedown', (e) => {
                startX = e.clientX;
                startWidth = th.offsetWidth;
                document.addEventListener('mousemove', resize);
                document.addEventListener('mouseup', stopResize);
            });

            function resize(e) {
                const newWidth = startWidth + (e.clientX - startX);
                th.style.width = `${newWidth}px`;
            }

            function stopResize() {
                document.removeEventListener('mousemove', resize);
                document.removeEventListener('mouseup', stopResize);
            }
        });
    });
</script>