<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="../../../css/styles.css">
</head>
<body>
    <div class="background-container" style="background-image: url('../img/fundo_01.jpg');">
        <div class="page-title">
            <h1>Criar Conta</h1>
        </div>
        <div class="form-container">    
            <form action="/user/save" method="POST">
                <div>
                    <label for="username">Nome</label>
                    <input type="text" name="username" id="username" placeholder="Nome" value="<%= username %>" required>
                    <div class="form_error">
                        <%= username_err %>
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="exemplo@gmail.com" value="<%= email %>"  required>
                    <div class="form_error">
                        <%= email_err %>
                    </div>
                </div>
                <div>
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" placeholder="******" value="<%= password %>"  required>
                    <div class="form_error">
                        <%= password_err %>
                    </div>
                </div>
                <button class="btn" type="submit">Criar</button>
            </form>
        </div>
    </div>
</body>
</html>

<%- include('../../partials/footer') %>
