<%- include('../../partials/header', { title: 'Login', user: user }) %>

<div class="background-container" style="background-image: url('../img/fundo_02.jpg');">
    <div class="page-title">
        <h1>Login</h1>
    </div>
    <div class="form-container">    
        <form action="/user/authenticate" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="exemplo@gmail.com" value="<%= email %>"  required>
                <div class="form_error">
                    <%= email_err %>
                </div>
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="******" value="<%= password %>"  required>
                <div class="form_error">
                    <%= password_err %>
                </div>
            </div>
            <button class="btn" type="submit">Logar</button>
        </form>
    </div>
</div>

<%- include('../../partials/footer') %>

